a:hover { color: #f00 }
a:visited { color: #888 }
a { text-decoration: none; color: white }
body { 
	background: #000; 
	font-family: sans; 
	font-weight: bold; 
	line-height: 200%; 
	font-size: 8pt; 
	color: #333;
}

#minfo {
    display: none;
	font-size: 7.5pt;
	font-weight: normal;
	position: fixed;
	top: 50px; bottom:0px; right:0px;
	left: 500px;
	padding: 10px;
	background: #080808;
	overflow: auto;
	color: #7D7762;
	line-height: 120%;
	z-index:10
}

#cpl {
	position: fixed;
	top: 0px; right:0px; left: 0px;
	height: 40px;
	padding: 3px;
	z-index:10;
	background: #080808;
}

#content {
	position: fixed;
	top: 45px; right:0px; left: 0px;
	bottom: 0px;
	padding: 5px;
	overflow: auto;
	z-index: 5;
}

#minfo_title {
	font-size: 14pt;
	font-weight: bold;
	line-height: 200%;
}
.hx { color: #7F834B }
.hx:hover { color: #7F834B }
.hh { color: #333; }
.tiny { font-size: 6.5pt}
#links { font-size: 7pt; font-weight: bold }
#stats { color: #335; font-size: 6.5pt; font-weight: normal }
#cur { color: #0f0 }
.hbig { font-size: 15pt; 
	color: #7F834B
}
